*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
}
.background{
	width: 100%;
	height: 100%;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}

.nav{
	width: 350px;
	height: auto;
	/*background-color: gray;
	*/
	position: absolute;
	top: 20%;
	left: 0;
}

.nav a{
	text-decoration: none;
	font-size: 28px;
	font-family: Verdana;
	font-weight: bold;
	height: 90px;
	margin: 5px 0;
	float: left;
	display: inline-block;
	background-color: #181818; /*makes the tab background same as background image(or say transparent)*/
	color: White;
	line-height: 90px;
	text-align: center;
	transition: 300ms;
}
/*{
	background-color: white;
	color: black;
}*/
a.active, .nav a:hover{
	background-color: white;
	color: black;
	width: 100%;
}
.a{
	width: 95%;
}
.b{
	width: 85%;
}
.c{
	width: 80%;
}
.d{
	width: 83%;
}

.content{
	position: absolute;
	 width: 900px;
	 min-height: 500px;
	 height: auto;
	 /*background-color: constant;/*red*/
	 right: 0;
	 top: 12%;
}

.home{
	position: absolute;
	right: 0;
	top: 15px;
	color: white;
	font-family: verdana;
	/*text-transform: uppercase;*/
}
.home h1{
	font-size: 85px;
	padding-right: 50px;
	border-bottom: 1px solid #181818;
}
.home h3{
	font-size: 28px;
	padding: 5px 0;
	opacity: 0.6;
}

.aboutme{
	position: absolute;
	right: -60px;
	top: 160px;
	color: white;
	font-family: century gothic;
	padding: 0 60px;
	display: none;
}
.aboutme p{
	font-size: 17px;
	line-height: 25px;
	margin-bottom: 5px;
}
/*.list{
	right: -36px;
}
*/

.projects{
	position: absolute;
	right: -60px;
	top: 160px;
	color: white;
	font-family: century gothic;
	padding: 0 60px;
	display: none;
}

.projects .image{
	width: 23%;
	margin: 2%;
	float: left;
}

.image img{
	width: 100%;
	/*height: 100%;*/
	transition: all ease 0.5s;
	-webkit-transition:  all ease 0.5s;
	transform: scale(1.0);
	-webkit-transform: scale(1.0);
}

.image img: hover{
	/*width: 120%;
	height: 120%;*/
	transform: scale(1.2);
}



