*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
}
.background{
	width: 100%;
	height: 100%;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}

.nav{
	width: 350px;
	height: auto;
	/*background-color: gray;
	*/
	position: absolute;
	top: 20%;
	left: 0;
}

.nav a{
	text-decoration: none;
	font-size: 28px;
	font-family: Verdana;
	font-weight: bold;
	height: 90px;
	margin: 5px 0;
	float: left;
	display: inline-block;
	background-color: #181818; /*makes the tab background same as background image(or say transparent)*/
	color: White;
	line-height: 90px;
	text-align: center;
	transition: 300ms;
}
/*{
	background-color: white;
	color: black;
}*/
a.active, .nav a:hover{
	background-color: white;
	color: black;
	width: 100%;
}
.a{
	width: 95%;
}
.b{
	width: 85%;
}
.c{
	width: 80%;
}
.d{
	width: 83%;
}

.content{
	position: absolute;
	 width: 900px;
	 min-height: 500px;
	 height: auto;
	 /*background-color: constant;/*red*/
	 right: 0;
	 top: 12%;
}

.home{
	position: absolute;
	right: 0;
	top: 15px;
	color: white;
	font-family: verdana;
	/*text-transform: uppercase;*/
}
.home h1{
	font-size: 85px;
	padding-right: 50px;
	border-bottom: 1px solid #181818;
}
.home h3{
	font-size: 28px;
	padding: 5px 0;
	opacity: 0.6;
}

.aboutme{
	position: absolute;
	right: -60px;
	top: 160px;
	color: white;
	font-family: century gothic;
	padding: 0 60px;
	display: none;
}
.aboutme p{
	font-size: 17px;
	line-height: 25px;
	margin-bottom: 5px;
}
/*.list{
	right: -36px;
}
*/

.projects{
	position: absolute;
	left: 150px;
	top: 50px;
	color: white;
	font-family: century gothic;
	padding: 0 60px;
	display: none;
}

.projects .image{
	width: 29%;
	margin: 2%;
	float: left;
}

.image img{
	width: 100%;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	transform: scale(1);
	-webkit-transform: scale(1);
	/*height: auto;
	display: block;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
*/
}

.image img:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);

}
/*Social media links*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
.contact{
	position: absolute;
	right: 150px;
	bottom: -5%;
	display: none;
}
.contact .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.contact .button:hover{
  width: 200px;
}
.contact .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.5s ease-out;
}
.contact .button:nth-child(1):hover .icon{
  background: #0e76a8;
}
.contact .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.contact .button:nth-child(3):hover .icon{
  background: #4267B2;
}
.contact .button:nth-child(4):hover .icon{
  background: #333;
}
.contact .button:nth-child(5):hover .icon{
  background: #db3236;
}
.contact .button:nth-child(6):hover .icon{
  background: #25d366;
}
.contact .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.contact .button:hover .icon i{
  color: #fff;
}
.contact .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.contact .button:nth-child(1) span{
  color: #0e76a8;
}
.contact .button:nth-child(2) span{
  color: #1DA1F2;
}
.contact .button:nth-child(3) span{
  color: #4267B2;
}
.contact .button:nth-child(4) span{
  color: #333;
}
.contact .button:nth-child(5) span{
  color: #db3236;
}
.contact .button:nth-child(6) span{
  color: #25d366;
}